@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  
}
.App {
  max-width: 600px;
  margin: 0px auto;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 30px;
}
.app__title{
  text-align: center;
}
.currency__input{
  width: 200px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid grey;
  margin-right: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.currency__select{
  font-size: 20px;
  width: 200px;
  border-radius: 5px;
  padding: 5px;
}

.currencies__blocks{
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}
.current__rate-color{
  color: rgb(248, 33, 33);
  
}
.current__rate{
  display: flex;
  justify-content: center; 
  gap: 30px;
  
}
.current__USD,.current__EUR{
  text-align: center;
  border: 1px solid grey;
  width: 120px;
}
.input__title{
  text-align: left;
}
.currency__block{
  text-align: left;
}